<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>

      <h1 class='header' ><span class="headder_font">Tuberculosis Prediction System System</span>

      <input class="form-control" type="file" name="imagefile">
      <input class="btn btn-primary mt-3 "type="submit" value="Predict Image">
  </form>

   
</body>
</html>
<style
 .header{
        padding: 30px;
        text-align: center;
        background: #000000;
        color: white;
        font-size: 30px;
        width: 100%;

        margin:-8px;
  </style>      }